  <!-- Page Content -->
  <div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">{{this.service.Name}}</h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#" [routerLink]="['/home']">Home</a>
      </li>
      <li class="breadcrumb-item active">Service</li>
    </ol>

    <div>
        <!-- Preview Image -->
        <img class="img-fluid rounded center" src="http://localhost:51680{{this.service.Logo}}" alt=""/>
    </div>
    
    <hr>

    <div>
        <h2>Branches</h2>
        <p *ngIf="!isInRole('AppUser') && logged()">If you want to add new branch click here: &nbsp; &nbsp; <button (click)="toggleAddBranch()" class="btn btn-success btn-sm">Add</button></p>
        <div *ngIf="seeAddBranch == true">
                <hr>
                <h2 class="text-center mb-4">Add new branch</h2>
                <p>First, select picture for branch:</p>
                <div class="container">    
                    <div class="row">
                        <div class="col-md-3">                
                            <h3>Select file</h3>        
                            <input type="file" ng2FileSelect [uploader]="uploader2"/>
                        </div>
                 
                        <div class="col-md-9" style="margin-bottom: 40px">
                 
                            <h3>Upload queue</h3>
                            <p>Queue length: {{ uploader2?.queue?.length }}</p>
                 
                            <table class="table">
                                <thead>
                                <tr>
                                    <th width="50%">Name</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of uploader2.queue">
                                    <td><strong>{{ item?.file?.name }}</strong></td>
                                    <td *ngIf="uploader2.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                                    <td *ngIf="uploader2.isHTML5">
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                 
                            <div>
                                   <div>
                                       Queue progress:
                                       <div class="progress" style="">
                                           <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader2.progress + '%' }"></div>
                                       </div>
                                   </div>
                                   <button type="button" class="btn btn-success btn-s"
                                           (click)="addAndUpload2()" [disabled]="!uploader2.getNotUploadedItems().length">
                                       <span class="glyphicon glyphicon-upload"></span> Upload
                                   </button>
                                   <button type="button" class="btn btn-warning btn-s"
                                           (click)="uploader2.cancelAll()" [disabled]="!uploader2.isUploading">
                                       <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                   </button>
                                   <button type="button" class="btn btn-danger btn-s"
                                           (click)="castAndClear2()" [disabled]="!uploader2.queue.length">
                                       <span class="glyphicon glyphicon-trash"></span> Remove
                                   </button>
                               </div>
                               <br>                      
                        </div>
                 
                    </div>
                 
                    <hr>
                    <div *ngIf="this.resp2">
                        <p>Then, fill in the rest of information:</p>
                    <div class="container py-5">
                       <div class="row mb-4">    
                            <p>Type the address of the branch: </p>              
                           <div class="col-md-6 mx-auto" style="margin-top: -30px;">
                                <div class="card card-body">
                                    <div class="form-group has-success">
                                        <input class="form-control input-lg" placeholder="Address" name="Address" type="text" [(ngModel)]="address" required>
                                    </div>                                   
                                </div>
                           </div>
                       </div>             
                   </div>
        
                   <div class="row mb-4">
                        <p>Select the place on map where is your branch located:</p>
                        <div class="col-md-1">
                          <div style="width:50%; margin: 0 auto">
                            <p>
                              <!-- Kreiramo mapu -->
                              <agm-map [latitude]="mapInfo.centerLat" [longitude]="mapInfo.centerLong" [zoom]="13" (mapClick)="placeMarker($event)">
                               
                                <!-- Postavljamo markere -->
                                <agm-marker *ngFor="let data of markers;" [latitude]="data.Lat" [longitude]="data.Lgt"></agm-marker>
                                <agm-marker [latitude]="this.tempMarker.Lat" [longitude]="this.tempMarker.Lgt"></agm-marker>
                              </agm-map>
                            </p>
                            </div>
                        </div>
                    </div>
        
                    <div class="container py-5">
                        <div class="row">
                            <div class="col-md-6 mx-auto">
                                <button class="btn btn-lg btn-primary btn-block" (click)="addBranch()">Add</button>
                            </div>
                        </div>
                    </div>
                    <hr>
                    </div>
               </div>
            </div>


            <div *ngIf="seeModifyBranch == true">
                    <hr>
                    <h2 class="text-center mb-4">Modify branch</h2>
                    <p>Select picture for branch:</p>
                    <div class="container">    
                        <div class="row">
                            <div class="col-md-3">                
                                <h3>Select file</h3>        
                                <input type="file" ng2FileSelect [uploader]="uploader2"/>
                            </div>
                     
                            <div class="col-md-9" style="margin-bottom: 40px">
                     
                                <h3>Upload queue</h3>
                                <p>Queue length: {{ uploader2?.queue?.length }}</p>
                     
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th width="50%">Name</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let item of uploader2.queue">
                                        <td><strong>{{ item?.file?.name }}</strong></td>
                                        <td *ngIf="uploader2.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                                        <td *ngIf="uploader2.isHTML5">
                                            <div class="progress" style="margin-bottom: 0;">
                                                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                            <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                            <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                     
                                <div>
                                       <div>
                                           Queue progress:
                                           <div class="progress" style="">
                                               <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader2.progress + '%' }"></div>
                                           </div>
                                       </div>
                                       <button type="button" class="btn btn-success btn-s"
                                               (click)="addAndUpload2()" [disabled]="!uploader2.getNotUploadedItems().length">
                                           <span class="glyphicon glyphicon-upload"></span> Upload
                                       </button>
                                       <button type="button" class="btn btn-warning btn-s"
                                               (click)="uploader2.cancelAll()" [disabled]="!uploader2.isUploading">
                                           <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                       </button>
                                       <button type="button" class="btn btn-danger btn-s"
                                               (click)="castAndClear2()" [disabled]="!uploader2.queue.length">
                                           <span class="glyphicon glyphicon-trash"></span> Remove
                                       </button>
                                   </div>
                                   <br>                      
                            </div>
                     
                        </div>
                     
                        <hr>
                        <div>
                        <p>Then, fill in the rest of information:</p>
                        <div class="container py-5">
                           <div class="row mb-4">    
                                <p>Type the address of the branch: </p>              
                               <div class="col-md-6 mx-auto" style="margin-top: -30px;">
                                    <div class="card card-body">
                                        <div class="form-group has-success">
                                            <input class="form-control input-lg" placeholder="Address" name="Address" type="text" [(ngModel)]="mBranch.Address" required>
                                        </div>                                   
                                    </div>
                               </div>
                           </div>             
                       </div>
            
                       <div class="row mb-4">
                            <p>Select the place on map where is your branch located:</p>
                            <div class="col-md-1">
                              <div style="width:50%; margin: 0 auto">
                                <p>
                                  <!-- Kreiramo mapu -->
                                  <agm-map [latitude]="mapInfo.centerLat" [longitude]="mapInfo.centerLong" [zoom]="13" (mapClick)="placeMarker2($event)">
                                   
                                    <!-- Postavljamo markere -->
                                    <agm-marker *ngFor="let data of markers;" [latitude]="data.Lat" [longitude]="data.Lgt"></agm-marker>
                                    <agm-marker [latitude]="this.mBranch.Latitude" [longitude]="this.mBranch.Longitude"></agm-marker>
                                  </agm-map>
                                </p>
                                </div>
                            </div>
                        </div>
            
                        <div class="container py-5">
                            <div class="row">
                                <div class="col-md-6 mx-auto">
                                    <button class="btn btn-lg btn-primary btn-block" (click)="modifyBranch()">Modify</button>
                                </div>
                            </div>
                        </div>
                        <hr>
                        </div>
                   </div>
                </div>
        
            <!-- <h2 *ngIf="added2 == true">Branch has succesefully been added!</h2> -->
            <div class="app flex-row align-items-center">   
                <div class="container"> 
                    <div class="card-deck row">
                        <div class="portfolio-item col-md-4" *ngFor="let branch of branches1 | paginate: { id:'branchP', itemsPerPage: 3, currentPage: p2 };">
                          <div class="card">
                          <a href="#" [routerLink]=""><img class="card-img-top" width="100px" height="230px" src="http://localhost:51680{{branch.Picture}}" alt=""></a>                                  
                            <div class="card-body">
                              <p class="card-text">{{branch.Address}}<p>
                              <button *ngIf="!isInRole('AppUser') && logged()" (click)="toggleModifyBranch(branch)" class="btn btn-warning btn-sm">Modify</button>
                               &nbsp;
                              <button *ngIf="!isInRole('AppUser') && logged()" (click)="removeBranch(branch.Id)" class="btn btn-danger btn-sm" >Remove</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="container py-5">
                <div class="text-center mb-4">
                    <pagination-controls id="branchP" (pageChange)="onChange2($event)"></pagination-controls>
                </div>  
            </div>
    </div>

    <hr>
    
    <div>
        <div>
        <h2>Vehicles</h2>
        <p *ngIf="!isInRole('AppUser') && logged()">If you want to add new vehicle click here: &nbsp; &nbsp; <button (click)="toggleAddVehicle()" class="btn btn-success btn-sm">Add</button></p>
        <div *ngIf="seeAddVehicle == true">
                <hr>
                <h2 class="text-center mb-4">Add new vehicle</h2>
                <p>First, select images of vehicle:</p>
                <div class="container">    
                    <div class="row">
                        <div class="col-md-3">
                 
                            <h3>Select file</h3>        
                            <input type="file" ng2FileSelect [uploader]="uploader" multiple/>
                        </div>
                 
                        <div class="col-md-9" style="margin-bottom: 40px">
                 
                            <h3>Upload queue</h3>
                            <p>Queue length: {{ uploader?.queue?.length }}</p>
                 
                            <table class="table">
                                <thead>
                                <tr>
                                    <th width="50%">Name</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of uploader.queue">
                                    <td><strong>{{ item?.file?.name }}</strong></td>
                                    <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                                    <td *ngIf="uploader.isHTML5">
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                 
                            <div>
                                   <div>
                                       Queue progress:
                                       <div class="progress" style="">
                                           <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                       </div>
                                   </div>
                                   <button type="button" class="btn btn-success btn-s"
                                           (click)="addAndUpload()" [disabled]="!uploader.getNotUploadedItems().length">
                                       <span class="glyphicon glyphicon-upload"></span> Upload all
                                   </button>
                                   <button type="button" class="btn btn-warning btn-s"
                                           (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                                       <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                   </button>
                                   <button type="button" class="btn btn-danger btn-s"
                                           (click)="castAndClear()" [disabled]="!uploader.queue.length">
                                       <span class="glyphicon glyphicon-trash"></span> Remove all
                                   </button>
                               </div>
                               <br>
                        </div>
                 
                    </div>
                 
                    <hr>
           
                    <div class="container py-5" *ngIf="this.resp.length != 0">
                       <div class="row">
                          <p>Then, fill in the rest of information:</p>
                           <div class="col-md-6 mx-auto">
                                   <div class="card card-body">
                                       <form #f="ngForm" (ngSubmit)="onSubmitVehicle(f.value)">
                                           <div class="form-group has-success">
                                               <input class="form-control input-lg" placeholder="Model" name="Model" type="text" ngModel required>
                                           </div>
                                           <div class="form-group has-error">
                                               <input class="form-control input-lg" placeholder="Manufactor" name="Manufactor" type="text" ngModel required>
                                           </div>                       
                                           <div class="form-group has-success">
                                               <input class="form-control input-lg" placeholder="Year" name="Year" type="number" ngModel required>
                                           </div>
                                           <div class="form-group has-success">
                                               <input class="form-control input-lg" placeholder="PricePerHour" name="PricePerHour" type="number" ngModel required>
                                           </div>
                                           <div class="form-group has-success" *ngFor="let vehicleType of vehicleTypes">
                                               <input type="radio" name="Type" value="{{vehicleType.Name}}" ngModel> {{vehicleType.Name}} <br>
                                           </div>
                                           <input class="btn btn-lg btn-primary btn-block" value="Add" type="submit">
                                       </form>
                                       <br>
                                       <textarea name="comment" [(ngModel)]="description" name="Description" value={{description}} placeholder="Description">Enter text here...</textarea>
                                   </div>
                           </div>
                       </div>    
                       <hr>         
                   </div>
               </div>
              </div>


              <div *ngIf="seeModifyVehicle == true">
                    <hr>
                    <h2 class="text-center mb-4">Modify vehicle</h2>
                    <p>Select images of vehicle:</p>
                    <div class="container">    
                        <div class="row">
                            <div class="col-md-3">
                     
                                <h3>Select file</h3>        
                                <input type="file" ng2FileSelect [uploader]="uploader" multiple/>
                            </div>
                     
                            <div class="col-md-9" style="margin-bottom: 40px">
                     
                                <h3>Upload queue</h3>
                                <p>Queue length: {{ uploader?.queue?.length }}</p>
                     
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th width="50%">Name</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let item of uploader.queue">
                                        <td><strong>{{ item?.file?.name }}</strong></td>
                                        <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                                        <td *ngIf="uploader.isHTML5">
                                            <div class="progress" style="margin-bottom: 0;">
                                                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                            <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                            <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                     
                                <div>
                                       <div>
                                           Queue progress:
                                           <div class="progress" style="">
                                               <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                           </div>
                                       </div>
                                       <button type="button" class="btn btn-success btn-s"
                                               (click)="addAndUpload()" [disabled]="!uploader.getNotUploadedItems().length">
                                           <span class="glyphicon glyphicon-upload"></span> Upload all
                                       </button>
                                       <button type="button" class="btn btn-warning btn-s"
                                               (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                                           <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                       </button>
                                       <button type="button" class="btn btn-danger btn-s"
                                               (click)="castAndClear()" [disabled]="!uploader.queue.length">
                                           <span class="glyphicon glyphicon-trash"></span> Remove all
                                       </button>
                                   </div>
                                   <br>
                            </div>
                     
                        </div>
                     
                        <hr>
               
                        <div class="container py-5">
                           <div class="row">
                              <p>Then, fill in the rest of information:</p>
                               <div class="col-md-6 mx-auto">
                                       <div class="card card-body">
                                           <form #f="ngForm" (ngSubmit)="onSubmitModifyVehicle()">
                                               <div class="form-group has-success">
                                                   <input class="form-control input-lg" placeholder="Model" name="Model" type="text" [(ngModel)]="mVehicle.Model" required>
                                               </div>
                                               <div class="form-group has-error">
                                                   <input class="form-control input-lg" placeholder="Manufactor" name="Manufactor" type="text" [(ngModel)]="mVehicle.Manufactor" required>
                                               </div>                       
                                               <div class="form-group has-success">
                                                   <input class="form-control input-lg" placeholder="Year" name="Year" type="number" [(ngModel)]="mVehicle.Year" required>
                                               </div>
                                               <div class="form-group has-success">
                                                   <input class="form-control input-lg" placeholder="PricePerHour" name="PricePerHour" type="number" [(ngModel)]="mVehicle.PricePerHour" required>
                                               </div>
                                               <div class="form-group has-success" *ngFor="let vehicleType of vehicleTypes">
                                                   <input type="radio" name="Type" value="{{vehicleType.Id}}" [(ngModel)]="mVehicle.VehicleTypeId"> {{vehicleType.Name}} <br>
                                               </div>
                                               <input class="btn btn-lg btn-primary btn-block" value="Modify" type="submit">
                                           </form>
                                           <br>
                                           <textarea name="comment" [(ngModel)]="mVehicle.Description" name="Description" placeholder="Description"></textarea>
                                       </div>
                               </div>
                           </div>    
                           <hr>         
                       </div>
                   </div>
                  </div>
          
              <!-- <h2 *ngIf="added == true">Vehicle has succesefully been added!</h2> -->
        
        <input type="text" placeholder="Search for a vehicle" [(ngModel)]="vehiclesSearch" style="width: 90%"> &nbsp; 
        <button (click)="search()" class="btn btn-success btn-sm">Search</button>         
        </div>
        <br>
            <div class="app flex-row align-items-center">   
                <div class="container"> 
                    <div>Model: <input type="text" placeholder="Filter by model" [(ngModel)]="modelSearch"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        Manufactor: <input type="text" placeholder="Filter by manufactor" [(ngModel)]="manufactorSearch"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Year: <input type="number" placeholder="Filter by year" [(ngModel)]="yearSearch">                        
                    </div>
                    <div style="height: 10px;"></div>
                    <div>
                        PricePerHour: <input type="number" placeholder="Filter by price per hour" [(ngModel)]="pricePerHourSearch"> 
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        VehicleType: <input type="text" placeholder="Filter by vehicle type" [(ngModel)]="vehicleTypeSearch">                                 
                        <button (click)="callGetAllVehicles()" class="btn btn-success btn-sm" style="float: right;">Restore all</button>
                    </div>
                </div>
            </div>
        <br>
        <div class="app flex-row align-items-center">   
          <div class="container"> 
              <div class="card-deck row">
                  <div class="portfolio-item col-md-4" *ngFor="let vehicle of allVehicles | vehicleSearch: modelSearch:manufactorSearch:yearSearch:pricePerHourSearch:vehicleTypeSearch | paginate: { id:'vehicleP', itemsPerPage: 2, currentPage: p1 }; let i = index;">
                    <div class="card">
                    <a href="#" [routerLink]=""><img class="card-img-top" width="100px" height="230px" src="http://localhost:51680{{vehicle.Images.split(';')[0]}}" alt=""></a>                                  
                      <div class="card-body">
                        <h4 class="card-title">
                          <a [routerLink]="['/vehicle', vehicle.Id, Id]" href="#">{{vehicle.Manufactor}} {{vehicle.Model}}, {{vehicle.Year}}</a>
                        </h4>
                        <h6 class="card-title">
                            <p class="card-text">{{vehicle.VehicleType.Name}}</p>
                        </h6>
                        <h5 class="card-title">
                          <p class="card-text">{{vehicle.PricePerHour}} &euro;</p>
                        </h5>
                        <p class="card-text">{{vehicle.Description}}</p>
                        <button *ngIf="!isInRole('AppUser') && logged()" (click)="toggleModifyVehicle(vehicle)" class="btn btn-warning btn-sm">Modify</button>
                        &nbsp;
                        <button *ngIf="!isInRole('AppUser') && logged()" (click)="removeVehicle(vehicle.Id)" class="btn btn-danger btn-sm" >Remove</button>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
      <br>
      <div class="container py-5">
        <div class="text-center mb-4">
            <pagination-controls  id="vehicleP" (pageChange)="onChange($event)"></pagination-controls>
        </div>  
      </div>
      <hr>

        <!-- Comments Form -->
        <div class="card my-4" *ngIf="logged() && firstRentEnded">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form  #f="ngForm" (ngSubmit)="onSubmit(f.value, f)">
              <div class="form-group">
                <textarea name="Comment" class="form-control" rows="3" [(ngModel)]="comment"></textarea>
              </div>
              <rating name="Grade" [(ngModel)]="grade"
                [max]="5"
                [readonly]="false"
                [disabled]="false"
                [required]="false"
                [float]="true"
                name="Grade">
              </rating>
              &nbsp;  &nbsp;
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

        <!-- Single Comment -->
        <div class="media mb-4" *ngFor="let impression of impressions">
          <img class="d-flex mr-3 rounded-circle" src="http://localhost:51680{{impression.AppUser.PersonalDocument}}" width="50px" height="50px" alt="">
          <div class="media-body">
            <h5 class="mt-0">{{impression.AppUser.FullName}}</h5>
            {{impression.Comment}}   
          </div>
          <!-- <button *ngIf="checkUser(impression)" (click)="modifyImpression(impression)" class="btn btn-warning btn-sm">Modify</button>
           &nbsp; -->
          <button *ngIf="checkUser(impression)" (click)="removeImpression(impression)" class="btn btn-danger btn-sm" >Remove</button>
        </div>
    </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; RentAVehicle 2018</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
