  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Service {{Id}}</h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">Services</li>
    </ol>

    <div>
        <!-- Preview Image -->
        <img class="img-fluid rounded center" src="http://placehold.it/900x300" alt="">

        <hr>

        <div class="app flex-row align-items-center">   
          <div class="container"> 
              <div class="card-deck row">
                  <div class="card col-md-4" *ngFor="let vehicle of vehicles; let i = index">
                    <a href="#" [routerLink]=""><img class="card-img-top" width="100px" height="230px" src="http://localhost:51680{{listImages[i]}}" alt=""></a>                                  
                      <div class="card-body">
                        <h4 class="card-title">
                          <a [routerLink]="['/vehicle', vehicle.Id]" href="#">{{vehicle.Manufactor}} {{vehicle.Model}}, {{vehicle.Year}}</a>
                        </h4>
                        <h5 class="card-title">
                          <p class="card-text">{{vehicle.PricePerHour}} &euro;</p>
                        </h5>
                        <p class="card-text">{{vehicle.Description}}</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <hr>

      <!-- Pagination -->
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" [routerLink]="" (click)="page('prev')" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item" *ngFor="let number of numbers">
          <a class="page-link" [routerLink]="" (click)="page(number)">{{number}}</a>
        </li>
        <li class="page-item">
          <a class="page-link" [routerLink]="" (click)="page('next')" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>

      <hr>

      <h2 class="text-center mb-4">Add new vehicle</h2>
      <p>First, select images of vehicle:</p>
      <div class="container">    
          <div class="row">
              <div class="col-md-3">
       
                  <h3>Select file</h3>        
                  <input type="file" ng2FileSelect [uploader]="uploader" multiple/>
              </div>
       
              <div class="col-md-9" style="margin-bottom: 40px">
       
                  <h3>Upload queue</h3>
                  <p>Queue length: {{ uploader?.queue?.length }}</p>
       
                  <table class="table">
                      <thead>
                      <tr>
                          <th width="50%">Name</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let item of uploader.queue">
                          <td><strong>{{ item?.file?.name }}</strong></td>
                          <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                          <td *ngIf="uploader.isHTML5">
                              <div class="progress" style="margin-bottom: 0;">
                                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                              </div>
                          </td>
                          <td class="text-center">
                              <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                              <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                              <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                          </td>
                      </tr>
                      </tbody>
                  </table>
       
                  <div>
                         <div>
                             Queue progress:
                             <div class="progress" style="">
                                 <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                             </div>
                         </div>
                         <button type="button" class="btn btn-success btn-s"
                                 (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                             <span class="glyphicon glyphicon-upload"></span> Upload all
                         </button>
                         <button type="button" class="btn btn-warning btn-s"
                                 (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                             <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                         </button>
                         <button type="button" class="btn btn-danger btn-s"
                                 (click)="castAndClear()" [disabled]="!uploader.queue.length">
                             <span class="glyphicon glyphicon-trash"></span> Remove all
                         </button>
                     </div>
 
              </div>
       
          </div>
       
          <hr>
 
          <div class="container py-5" *ngIf="this.resp.length != 0">
             <div class="row">
                <p>Then, fill in the rest of information:</p>
                 <div class="col-md-6 mx-auto">
                         <div class="card card-body">
                             <form #f="ngForm" (ngSubmit)="onSubmitVehicle(f.value)">
                                 <div class="form-group has-success">
                                     <input class="form-control input-lg" placeholder="Model" name="Model" type="text" ngModel required>
                                 </div>
                                 <div class="form-group has-error">
                                     <input class="form-control input-lg" placeholder="Manufactor" name="Manufactor" type="text" ngModel required>
                                 </div>                       
                                 <div class="form-group has-success">
                                     <input class="form-control input-lg" placeholder="Year" name="Year" type="number" ngModel required>
                                 </div>
                                 <div class="form-group has-success">
                                     <input class="form-control input-lg" placeholder="PricePerHour" name="PricePerHour" type="number" ngModel required>
                                 </div>
                                 <div class="form-group has-success" *ngFor="let vehicleType of vehicleTypes">
                                     <input type="radio" name="Type" value="{{vehicleType.Name}}" ngModel> {{vehicleType.Name}} <br>
                                 </div>
                                 <input class="btn btn-lg btn-primary btn-block" value="Add" type="submit">
                             </form>
                             <br>
                             <textarea name="comment" [(ngModel)]="description" name="Description" value={{description}} placeholder="Description">Enter text here...</textarea>
                         </div>
                 </div>
             </div>
         </div>
     </div>

        <hr>

        <!-- Comments Form -->
        <div class="card my-4" *ngIf="!loggedAndReserved()">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form  #f="ngForm" (ngSubmit)="onSubmit(f.value, f)">
              <div class="form-group">
                <textarea name="Comment" class="form-control" rows="3" ngModel></textarea>
              </div>
              <rating name="Grade" [(ngModel)]="grade"
                [max]="5"
                [readonly]="false"
                [disabled]="false"
                [required]="false"
                [float]="true"
                name="Grade">
              </rating>

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

        <!-- Single Comment -->
        <div class="media mb-4" *ngFor="let impression of impressions">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            {{impression.Comment}}   
          </div>
        </div>
      </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
