<!-- Page Content -->
<div class="container">

  <h1 class="my-4">Services</h1>



  <div class="app flex-row align-items-center">   
      <div class="container"> 
          <div class="card-deck row">
              <div class="card col-md-4" *ngFor="let service of services">
                  <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a [routerLink]="['/service', service.Id]" href="#">{{service.Name}}</a>
                    </h4>
                    <h5 class="card-title">
                      <p class="card-text">{{service.Email}}</p>
                    </h5>
                    <p class="card-text">{{service.Description}}</p>
                    <rating [(ngModel)]="service.Grade"
                      [max]="5"
                      [readonly]="true"
                      [disabled]="false"
                      [required]="false"
                      [float]="true">
                    </rating>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <hr>

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
