      <div class="col-lg-6" align="center">
        <h1 class="mt-4 mb-3">{{vehicle.Manufactor}} {{vehicle.Model}}</h1>
      </div>
        <div>
    
            <hr>
            <div class="app flex-row align-items-center">   
              <div class="container"> 
                  <div class="card-deck row">
                      <div class="card col-md-8" *ngFor="let image of listImages">
                        <img class="card-img-top" width="400px" height="400px" src="http://localhost:51680{{image}}" alt="">                              
                      </div>
                  </div>
              </div>
            </div>
    
          <hr>
        </div>


<!-- Page Content -->
<br>
<div class="container">
  <!-- Features Section -->
  <div class="row">
    <div class="col-lg-6">
      <p>Basic information about the vehicle:</p>
      <ul>
        <li>
          <strong>Price per hour: {{vehicle.PricePerHour}} &euro;</strong>
        </li>
        <li>Type: {{vehicle.VehicleType.Name}}</li>
      </ul>
      <p>{{vehicle.Description}}</p>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Call to Action Section -->
  <div class="row mb-4"> <!-- *ngIf="logged()" -->
    <div class="col-md-5">
      <p height="10px"></p>
      <p>If you want to make a reservation for this vehicle click here:</p>
    </div>
    <div class="col-md-5">
      <a class="btn btn-lg btn-secondary btn-block btn-success" href="#" [routerLink]="" (click)="reserveVehicle()">Make a reservation</a>
    </div>
  </div>

</div>
<!-- /.container -->

<div *ngIf="reserve == true">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 mx-auto">
                    <div class="card card-body">
                        <h3 class="text-center mb-4">Reservation</h3>
                        <br>
                        <p>Select date when you want to pick up your vehicle:</p>
                        <div class="form-group has-success">
                            <input class="form-control input-lg" name="Start" type="date" [(ngModel)]="start" required>
                        </div>    
                        <p>Select date when you want to return your vehicle:</p>
                        <div class="form-group has-success">
                            <input class="form-control input-lg" name="End" type="date" [(ngModel)]="end" required>
                        </div>                                                               
                    </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-5">
    <div style="width:50%; margin: 0 auto">
        <p>
            <!-- Kreiramo mapu -->
            <agm-map [latitude]="mapInfo1.centerLat" [longitude]="mapInfo1.centerLong" [zoom]="18" (mapClick)="placeMarker1($event)">
             
              <!-- Postavljamo markere -->
              <agm-marker  *ngFor="let data of markers;" [latitude]="data.Lat" [longitude]="data.Lgt" (click)="marker1(data.Lat, data.Lgt)"></agm-marker>
            </agm-map>
          </p>
          </div>
        </div>
          <div class="col-md-5">
            <div style="width:50%; margin: 0 auto">
                <p>
                    <!-- Kreiramo mapu -->
                    <agm-map [latitude]="mapInfo2.centerLat" [longitude]="mapInfo2.centerLong" [zoom]="18" (mapClick)="placeMarker2($event)">
                    
                      <!-- Postavljamo markere -->
                      <agm-marker  *ngFor="let data of markers;" [latitude]="data.Lat" [longitude]="data.Lgt" (click)="marker2(data.Lat, data.Lgt)"></agm-marker>

                    </agm-map>
                </p>
          </div>
        </div>
      </div>

      <div>
        <button class="btn btn-lg btn-primary btn-block" (click)="reserveV()">Rent</button>
      </div>
      <br>
</div>

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
  </div>
  <!-- /.container -->
</footer>