#container {
  width: 100%;
  margin: 5em auto;
  padding: 0;
  background:#fff;
}

.items {
    max-width:300px;
    height:300px;
    background:#ECECEC;
}

#left, #right { 
    margin: 30px;
}

.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }

html, body { height: 100%; }
