<div id="container">
  <div
    ng2-carouselamos
    class="slides-wrapper"
    [items]="items"
    [width]="900"
    [$prev]="prev"
    [$next]="next"
    [$item]="item"
  >
  </div>


<ng-template #prev>
  <img src="/assets/images/if_nav-arrow-left_383101.png" height="50px" id="left" />
</ng-template>
<ng-template #next>
  <img src="/assets/images/if_nav-arrow-right_383100.png" height="50px" id="right" />
</ng-template>
<ng-template #item let-item let-i="index">

    <div class="items">
      <img src="{{ item.name }}">
    </div>

</ng-template>

<!-- Page Content -->
<br><br><br>
<div class="container">
  <!-- Features Section -->
  <div class="row">
    <div class="col-lg-6">
      <h2>{{vehicle.Manufactor}} {{vehicle.Model}}, {{vehicle.Year}}</h2>
      <p>Basic information about the vehicle:</p>
      <ul>
        <li>
          <strong>Price per hour: {{vehicle.PricePerHour}} &euro;</strong>
        </li>
        <li>Type: {{vehicle.VehicleType.Name}}</li>
      </ul>
      <p>{{vehicle.Description}}</p>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <div class="container">    
         <div class="row">
      
             <div class="col-md-3">
      
                 <h3>Select file</h3>        
                 <input type="file" ng2FileSelect [uploader]="uploader" />
             </div>
      
             <div class="col-md-9" style="margin-bottom: 40px">
      
                 <h3>Upload queue</h3>
                 <p>Queue length: {{ uploader?.queue?.length }}</p>
      
                 <table class="table">
                     <thead>
                     <tr>
                         <th width="50%">Name</th>
                         <th>Size</th>
                         <th>Progress</th>
                         <th>Status</th>
                         <th>Actions</th>
                     </tr>
                     </thead>
                     <tbody>
                     <tr *ngFor="let item of uploader.queue">
                         <td><strong>{{ item?.file?.name }}</strong></td>
                         <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                         <td *ngIf="uploader.isHTML5">
                             <div class="progress" style="margin-bottom: 0;">
                                 <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                             </div>
                         </td>
                         <td class="text-center">
                             <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                             <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                             <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                         </td>
                         <td nowrap>
                             <button type="button" class="btn btn-success btn-xs"
                                     (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                 <span class="glyphicon glyphicon-upload"></span> Upload
                             </button>
                             <button type="button" class="btn btn-warning btn-xs"
                                     (click)="item.cancel()" [disabled]="!item.isUploading">
                                 <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                             </button>
                             <button type="button" class="btn btn-danger btn-xs"
                                     (click)="item.remove()">
                                 <span class="glyphicon glyphicon-trash"></span> Remove
                             </button>
                         </td>
                     </tr>
                     </tbody>
                 </table>
      
             </div>
      
         </div>
      

         <div class="container py-5">
            <div class="row">
                <div class="col-md-6 mx-auto">
                        <div class="card card-body">
                            <h3 class="text-center mb-4">Add new vehicle</h3>
                            <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)">
                                <div class="form-group has-success">
                                    <input class="form-control input-lg" placeholder="Full Name" name="FullName" type="text" ngModel required>
                                </div>
                                <div class="form-group has-error">
                                    <input class="form-control input-lg" placeholder="E-mail Address" name="Email" type="text" ngModel required>
                                </div>                       
                                <div class="form-group has-success">
                                    <input class="form-control input-lg" placeholder="Birthday" name="Birthday" type="date" ngModel required>
                                </div>
                                <div class="form-group has-success">
                                    <input class="form-control input-lg" placeholder="Password" name="Password" value="" type="password" ngModel required>
                                </div>
                                <div class="form-group has-success">
                                    <input class="form-control input-lg" placeholder="Confirm password" name="ConfirmPassword" value="" type="Password" ngModel required>
                                </div>
                                <div class="form-group has-success"> 
                                    <input class="form-control input-lg" name="Picture" type="text" value="{{resp}}" readonly ngModel required>
                                </div>                  
                                <input class="btn btn-lg btn-primary btn-block" value="Reserve" type="submit">
                            </form>
                        </div>
                </div>
            </div>
        </div>
     </div>

  <hr>

  <!-- Call to Action Section -->
  <div class="row mb-4">
    <div class="col-md-5">
      <p height="10px"></p>
      <p>If you want to make a reservation for this vehicle click here:</p>
    </div>
    <div class="col-md-5">
      <a class="btn btn-lg btn-secondary btn-block btn-success" href="#" [routerLink]="" (click)="reserveVehicle()">Make a reservation</a>
    </div>
  </div>

</div>
<!-- /.container -->

<div *ngIf="reserve == true">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 mx-auto">
                    <div class="card card-body">
                        <h3 class="text-center mb-4">Reservation</h3>
                        <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)">
                            <div class="form-group has-success">
                                <input class="form-control input-lg" placeholder="Full Name" name="FullName" type="text" ngModel required>
                            </div>
                            <div class="form-group has-error">
                                <input class="form-control input-lg" placeholder="E-mail Address" name="Email" type="text" ngModel required>
                            </div>                       
                            <div class="form-group has-success">
                                <input class="form-control input-lg" placeholder="Birthday" name="Birthday" type="date" ngModel required>
                            </div>
                            <div class="form-group has-success">
                                <input class="form-control input-lg" placeholder="Password" name="Password" value="" type="password" ngModel required>
                            </div>
                            <div class="form-group has-success">
                                <input class="form-control input-lg" placeholder="Confirm password" name="ConfirmPassword" value="" type="Password" ngModel required>
                            </div>
                                              
                            <input class="btn btn-lg btn-primary btn-block" value="Reserve" type="submit">
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
  </div>
  <!-- /.container -->
</footer>